<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Josh Sisto">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Raspberry Pi Weather Station</title>
</head>

<body>
    <header>Sacramento California USA 🇺🇸</header>
    <nav>
        <p><a href="/">Weather</a></p>
    </nav>

    <h1>Set Alerts</h1>
    <form action="/alerts/" method="POST">
        <fieldset>
            <div class="double-input">
                <div>
                    <label for="min_temp">Min Temp</label>
                    Current Alert Setting: {{ stat_dict['min_temp'] }}<br />
                    <input type="number" name="mintemp" id="min_temp" />
                </div>
                <div>
                    <label for="max_temp">Max Temp</label>
                    Current Alert Setting: {{ stat_dict['max_temp'] }}<br />
                    <input type="number" name="maxtemp" id="max_temp" />
                </div>
            </div>
            <div class="single-input">
                <div>
                    <label for="aqi_max">Max AQI</label>
                    Current Alert Setting: {{ stat_dict['aqi_max'] }}<br />
                    <input type="number" name="aqimax" id="aqi_max" placeholder="0 - 50 = Good" />
                </div>
            </div>
            <button type="submit">Submit</button>            
        </fieldset>

    </form>

    <footer class="center">
        <p>Code hosted on <a href="https://github.com/joshsisto/Pi_Weather_Station">GitHub</a></p>
    </footer>
</body>

</html>