<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Log Time</th>
      <th>Temp (C)</th>
      <th>Temp (F)</th>
      <th>Humidity</th>
      <th>Pressure</th>
      <th>DewPoint</th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
      <th>Weather</th>
      <th>AQI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2021-08-20 00:00:07</td>
      <td>37.8</td>
      <td>100.0</td>
      <td>37.0</td>
      <td>1007.0</td>
      <td>20.6</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[63.99, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2021-08-20 00:05:07</td>
      <td>37.8</td>
      <td>100.0</td>
      <td>38.0</td>
      <td>1006.9</td>
      <td>21.0</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[63.86, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2021-08-20 00:10:07</td>
      <td>37.6</td>
      <td>99.7</td>
      <td>36.8</td>
      <td>1007.0</td>
      <td>20.3</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[63.73, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2021-08-20 00:15:07</td>
      <td>37.6</td>
      <td>99.7</td>
      <td>36.5</td>
      <td>1007.0</td>
      <td>20.2</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[63.62, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2021-08-20 00:20:07</td>
      <td>37.6</td>
      <td>99.7</td>
      <td>36.9</td>
      <td>1007.0</td>
      <td>20.4</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[63.48, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2021-08-20 00:25:06</td>
      <td>37.5</td>
      <td>99.5</td>
      <td>36.6</td>
      <td>1007.0</td>
      <td>20.2</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[63.33, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2021-08-20 00:30:06</td>
      <td>37.5</td>
      <td>99.5</td>
      <td>36.0</td>
      <td>1006.9</td>
      <td>19.9</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[63.27, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2021-08-20 00:35:07</td>
      <td>37.6</td>
      <td>99.7</td>
      <td>37.3</td>
      <td>1007.0</td>
      <td>20.6</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[63.17, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2021-08-20 00:40:07</td>
      <td>37.5</td>
      <td>99.5</td>
      <td>37.0</td>
      <td>1007.0</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[63.17, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2021-08-20 00:45:06</td>
      <td>37.4</td>
      <td>99.3</td>
      <td>37.0</td>
      <td>1007.0</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[63.05, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2021-08-20 00:50:06</td>
      <td>37.4</td>
      <td>99.3</td>
      <td>37.5</td>
      <td>1006.9</td>
      <td>20.5</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.92, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2021-08-20 00:55:07</td>
      <td>37.4</td>
      <td>99.3</td>
      <td>37.5</td>
      <td>1007.0</td>
      <td>20.5</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[62.81, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2021-08-20 01:00:06</td>
      <td>37.5</td>
      <td>99.5</td>
      <td>37.0</td>
      <td>1006.9</td>
      <td>20.3</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.69, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2021-08-20 01:05:06</td>
      <td>37.3</td>
      <td>99.1</td>
      <td>37.7</td>
      <td>1006.9</td>
      <td>20.5</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[62.58, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2021-08-20 01:10:06</td>
      <td>37.3</td>
      <td>99.1</td>
      <td>38.6</td>
      <td>1006.9</td>
      <td>20.9</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.47, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2021-08-20 01:15:07</td>
      <td>37.3</td>
      <td>99.1</td>
      <td>37.1</td>
      <td>1006.8</td>
      <td>20.2</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.36, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2021-08-20 01:20:07</td>
      <td>37.2</td>
      <td>99.0</td>
      <td>37.0</td>
      <td>1007.0</td>
      <td>20.1</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.25, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2021-08-20 01:25:07</td>
      <td>37.3</td>
      <td>99.1</td>
      <td>37.1</td>
      <td>1006.9</td>
      <td>20.2</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.14, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2021-08-20 01:30:06</td>
      <td>37.2</td>
      <td>99.0</td>
      <td>37.7</td>
      <td>1006.9</td>
      <td>20.4</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.04, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2021-08-20 01:35:07</td>
      <td>37.1</td>
      <td>98.8</td>
      <td>37.8</td>
      <td>1006.8</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[61.94, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2021-08-20 01:40:07</td>
      <td>37.3</td>
      <td>99.1</td>
      <td>37.9</td>
      <td>1006.8</td>
      <td>20.6</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.58, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2021-08-20 01:45:06</td>
      <td>37.3</td>
      <td>99.1</td>
      <td>37.6</td>
      <td>1006.9</td>
      <td>20.4</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[62.46, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2021-08-20 01:50:07</td>
      <td>37.1</td>
      <td>98.8</td>
      <td>37.8</td>
      <td>1006.8</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.35, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2021-08-20 01:55:07</td>
      <td>37.1</td>
      <td>98.8</td>
      <td>37.8</td>
      <td>1006.7</td>
      <td>20.3</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.21, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2021-08-20 02:00:06</td>
      <td>37.2</td>
      <td>99.0</td>
      <td>37.6</td>
      <td>1006.8</td>
      <td>20.3</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.11, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2021-08-20 02:05:06</td>
      <td>37.2</td>
      <td>99.0</td>
      <td>37.1</td>
      <td>1006.8</td>
      <td>20.1</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.01, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2021-08-20 02:10:06</td>
      <td>37.1</td>
      <td>98.8</td>
      <td>37.3</td>
      <td>1006.8</td>
      <td>20.1</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[61.91, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2021-08-20 02:15:06</td>
      <td>37.2</td>
      <td>99.0</td>
      <td>37.4</td>
      <td>1006.8</td>
      <td>20.3</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[61.81, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2021-08-20 02:20:06</td>
      <td>36.9</td>
      <td>98.4</td>
      <td>37.8</td>
      <td>1006.7</td>
      <td>20.2</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[61.71, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2021-08-20 02:25:06</td>
      <td>37.1</td>
      <td>98.8</td>
      <td>37.6</td>
      <td>1006.7</td>
      <td>20.3</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[61.62, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>30</th>
      <td>2021-08-20 02:30:07</td>
      <td>37.1</td>
      <td>98.8</td>
      <td>37.8</td>
      <td>1006.6</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[61.52, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>31</th>
      <td>2021-08-20 02:35:07</td>
      <td>37.1</td>
      <td>98.8</td>
      <td>37.5</td>
      <td>1006.7</td>
      <td>20.2</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[61.43, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>32</th>
      <td>2021-08-20 02:40:06</td>
      <td>37.1</td>
      <td>98.8</td>
      <td>37.5</td>
      <td>1006.7</td>
      <td>20.2</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.63, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>33</th>
      <td>2021-08-20 02:45:06</td>
      <td>37.0</td>
      <td>98.6</td>
      <td>37.6</td>
      <td>1006.6</td>
      <td>20.2</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.51, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>34</th>
      <td>2021-08-20 02:50:07</td>
      <td>36.9</td>
      <td>98.4</td>
      <td>37.0</td>
      <td>1006.6</td>
      <td>19.8</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[62.4, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>35</th>
      <td>2021-08-20 02:55:07</td>
      <td>36.9</td>
      <td>98.4</td>
      <td>38.0</td>
      <td>1006.6</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[62.29, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>36</th>
      <td>2021-08-20 03:00:07</td>
      <td>36.9</td>
      <td>98.4</td>
      <td>37.3</td>
      <td>1006.6</td>
      <td>20.0</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.18, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>37</th>
      <td>2021-08-20 03:05:06</td>
      <td>36.9</td>
      <td>98.4</td>
      <td>38.1</td>
      <td>1006.7</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.08, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>38</th>
      <td>2021-08-20 03:10:06</td>
      <td>36.7</td>
      <td>98.1</td>
      <td>38.0</td>
      <td>1006.6</td>
      <td>20.1</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[61.97, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>39</th>
      <td>2021-08-20 03:15:07</td>
      <td>36.9</td>
      <td>98.4</td>
      <td>37.7</td>
      <td>1006.6</td>
      <td>20.1</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[61.86, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2021-08-20 03:20:07</td>
      <td>36.9</td>
      <td>98.4</td>
      <td>37.8</td>
      <td>1006.6</td>
      <td>20.2</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[61.75, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>41</th>
      <td>2021-08-20 03:25:07</td>
      <td>36.8</td>
      <td>98.2</td>
      <td>38.0</td>
      <td>1006.5</td>
      <td>20.2</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[61.69, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>42</th>
      <td>2021-08-20 03:30:07</td>
      <td>36.7</td>
      <td>98.1</td>
      <td>37.6</td>
      <td>1006.5</td>
      <td>19.9</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[61.57, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>43</th>
      <td>2021-08-20 03:35:06</td>
      <td>36.8</td>
      <td>98.2</td>
      <td>37.8</td>
      <td>1006.5</td>
      <td>20.1</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[61.45, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>44</th>
      <td>2021-08-20 03:40:07</td>
      <td>36.8</td>
      <td>98.2</td>
      <td>38.9</td>
      <td>1006.5</td>
      <td>20.5</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[61.43, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>45</th>
      <td>2021-08-20 03:45:07</td>
      <td>36.7</td>
      <td>98.1</td>
      <td>38.5</td>
      <td>1006.5</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[61.21, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>46</th>
      <td>2021-08-20 03:50:07</td>
      <td>36.8</td>
      <td>98.2</td>
      <td>37.8</td>
      <td>1006.4</td>
      <td>20.1</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[61.12, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>47</th>
      <td>2021-08-20 03:55:06</td>
      <td>36.6</td>
      <td>97.9</td>
      <td>37.8</td>
      <td>1006.5</td>
      <td>19.9</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[61.03, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>48</th>
      <td>2021-08-20 04:00:07</td>
      <td>36.6</td>
      <td>97.9</td>
      <td>37.7</td>
      <td>1006.5</td>
      <td>19.9</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[60.94, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>49</th>
      <td>2021-08-20 04:05:07</td>
      <td>36.6</td>
      <td>97.9</td>
      <td>38.1</td>
      <td>1006.5</td>
      <td>20.0</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.9, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>50</th>
      <td>2021-08-20 04:10:06</td>
      <td>36.5</td>
      <td>97.7</td>
      <td>37.8</td>
      <td>1006.6</td>
      <td>19.8</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.73, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>51</th>
      <td>2021-08-20 04:15:06</td>
      <td>36.7</td>
      <td>98.1</td>
      <td>37.5</td>
      <td>1006.6</td>
      <td>19.9</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.64, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>52</th>
      <td>2021-08-20 04:20:07</td>
      <td>36.6</td>
      <td>97.9</td>
      <td>37.9</td>
      <td>1006.7</td>
      <td>19.9</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[60.57, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>53</th>
      <td>2021-08-20 04:25:07</td>
      <td>36.7</td>
      <td>98.1</td>
      <td>38.0</td>
      <td>1006.6</td>
      <td>20.1</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.49, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>54</th>
      <td>2021-08-20 04:30:06</td>
      <td>36.3</td>
      <td>97.3</td>
      <td>38.3</td>
      <td>1006.6</td>
      <td>19.8</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.42, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>55</th>
      <td>2021-08-20 04:35:06</td>
      <td>36.4</td>
      <td>97.5</td>
      <td>36.1</td>
      <td>1006.7</td>
      <td>19.0</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.35, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>56</th>
      <td>2021-08-20 04:40:06</td>
      <td>36.4</td>
      <td>97.5</td>
      <td>37.3</td>
      <td>1006.8</td>
      <td>19.5</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.69, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>57</th>
      <td>2021-08-20 04:45:06</td>
      <td>36.4</td>
      <td>97.5</td>
      <td>37.9</td>
      <td>1006.8</td>
      <td>19.8</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[60.62, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>58</th>
      <td>2021-08-20 04:50:07</td>
      <td>36.5</td>
      <td>97.7</td>
      <td>37.9</td>
      <td>1006.9</td>
      <td>19.9</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[60.55, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>59</th>
      <td>2021-08-20 04:55:07</td>
      <td>36.4</td>
      <td>97.5</td>
      <td>38.4</td>
      <td>1006.9</td>
      <td>20.0</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.49, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>60</th>
      <td>2021-08-20 05:00:07</td>
      <td>36.4</td>
      <td>97.5</td>
      <td>38.0</td>
      <td>1007.0</td>
      <td>19.8</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.43, 'Clear', 'No precipitation throughout the week.']</td>
      <td>63</td>
    </tr>
    <tr>
      <th>61</th>
      <td>2021-08-20 05:05:07</td>
      <td>36.4</td>
      <td>97.5</td>
      <td>38.4</td>
      <td>1007.0</td>
      <td>20.0</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[60.37, 'Clear', 'No precipitation throughout the week.']</td>
      <td>76</td>
    </tr>
    <tr>
      <th>62</th>
      <td>2021-08-20 05:10:06</td>
      <td>36.2</td>
      <td>97.2</td>
      <td>38.4</td>
      <td>1006.9</td>
      <td>19.8</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.32, 'Clear', 'No precipitation throughout the week.']</td>
      <td>76</td>
    </tr>
    <tr>
      <th>63</th>
      <td>2021-08-20 05:15:08</td>
      <td>36.2</td>
      <td>97.2</td>
      <td>38.5</td>
      <td>1007.0</td>
      <td>19.8</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[60.23, 'Clear', 'No precipitation throughout the week.']</td>
      <td>76</td>
    </tr>
    <tr>
      <th>64</th>
      <td>2021-08-20 05:20:06</td>
      <td>36.2</td>
      <td>97.2</td>
      <td>38.2</td>
      <td>1006.9</td>
      <td>19.7</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.18, 'Clear', 'No precipitation throughout the week.']</td>
      <td>76</td>
    </tr>
    <tr>
      <th>65</th>
      <td>2021-08-20 05:25:07</td>
      <td>36.2</td>
      <td>97.2</td>
      <td>38.1</td>
      <td>1006.9</td>
      <td>19.7</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.13, 'Clear', 'No precipitation throughout the week.']</td>
      <td>76</td>
    </tr>
    <tr>
      <th>66</th>
      <td>2021-08-20 05:30:06</td>
      <td>36.1</td>
      <td>97.0</td>
      <td>38.1</td>
      <td>1007.0</td>
      <td>19.6</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[60.08, 'Clear', 'No precipitation throughout the week.']</td>
      <td>76</td>
    </tr>
    <tr>
      <th>67</th>
      <td>2021-08-20 05:35:07</td>
      <td>36.1</td>
      <td>97.0</td>
      <td>38.0</td>
      <td>1007.1</td>
      <td>19.5</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.03, 'Clear', 'No precipitation throughout the week.']</td>
      <td>76</td>
    </tr>
    <tr>
      <th>68</th>
      <td>2021-08-20 05:40:06</td>
      <td>36.1</td>
      <td>97.0</td>
      <td>38.4</td>
      <td>1007.1</td>
      <td>19.7</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[59.52, 'Clear', 'No precipitation throughout the week.']</td>
      <td>76</td>
    </tr>
    <tr>
      <th>69</th>
      <td>2021-08-20 05:45:07</td>
      <td>36.1</td>
      <td>97.0</td>
      <td>38.6</td>
      <td>1007.1</td>
      <td>19.8</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[59.49, 'Clear', 'No precipitation throughout the week.']</td>
      <td>76</td>
    </tr>
    <tr>
      <th>70</th>
      <td>2021-08-20 05:50:07</td>
      <td>36.2</td>
      <td>97.2</td>
      <td>38.3</td>
      <td>1007.0</td>
      <td>19.8</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[59.47, 'Clear', 'No precipitation throughout the week.']</td>
      <td>76</td>
    </tr>
    <tr>
      <th>71</th>
      <td>2021-08-20 05:55:07</td>
      <td>36.2</td>
      <td>97.2</td>
      <td>38.3</td>
      <td>1007.0</td>
      <td>19.8</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[59.46, 'Clear', 'No precipitation throughout the week.']</td>
      <td>76</td>
    </tr>
    <tr>
      <th>72</th>
      <td>2021-08-20 06:00:07</td>
      <td>36.1</td>
      <td>97.0</td>
      <td>38.0</td>
      <td>1007.0</td>
      <td>19.5</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[59.45, 'Clear', 'No precipitation throughout the week.']</td>
      <td>76</td>
    </tr>
    <tr>
      <th>73</th>
      <td>2021-08-20 06:05:06</td>
      <td>36.3</td>
      <td>97.3</td>
      <td>37.6</td>
      <td>1007.0</td>
      <td>19.5</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[59.45, 'Clear', 'No precipitation throughout the week.']</td>
      <td>84</td>
    </tr>
    <tr>
      <th>74</th>
      <td>2021-08-20 06:10:06</td>
      <td>36.2</td>
      <td>97.2</td>
      <td>37.9</td>
      <td>1007.1</td>
      <td>19.6</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[59.44, 'Clear', 'No precipitation throughout the week.']</td>
      <td>84</td>
    </tr>
    <tr>
      <th>75</th>
      <td>2021-08-20 06:15:07</td>
      <td>36.1</td>
      <td>97.0</td>
      <td>38.9</td>
      <td>1007.1</td>
      <td>19.9</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[59.4, 'Clear', 'No precipitation throughout the week.']</td>
      <td>84</td>
    </tr>
    <tr>
      <th>76</th>
      <td>2021-08-20 06:20:07</td>
      <td>35.9</td>
      <td>96.6</td>
      <td>38.2</td>
      <td>1007.2</td>
      <td>19.5</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[59.41, 'Clear', 'No precipitation throughout the week.']</td>
      <td>84</td>
    </tr>
    <tr>
      <th>77</th>
      <td>2021-08-20 06:25:07</td>
      <td>36.0</td>
      <td>96.8</td>
      <td>38.6</td>
      <td>1007.2</td>
      <td>19.7</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[59.43, 'Clear', 'No precipitation throughout the week.']</td>
      <td>84</td>
    </tr>
    <tr>
      <th>78</th>
      <td>2021-08-20 06:30:07</td>
      <td>36.0</td>
      <td>96.8</td>
      <td>37.7</td>
      <td>1007.1</td>
      <td>19.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[59.45, 'Clear', 'No precipitation throughout the week.']</td>
      <td>84</td>
    </tr>
    <tr>
      <th>79</th>
      <td>2021-08-20 06:35:06</td>
      <td>35.9</td>
      <td>96.6</td>
      <td>38.2</td>
      <td>1007.2</td>
      <td>19.5</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[59.55, 'Clear', 'No precipitation throughout the week.']</td>
      <td>84</td>
    </tr>
    <tr>
      <th>80</th>
      <td>2021-08-20 06:40:06</td>
      <td>36.0</td>
      <td>96.8</td>
      <td>38.3</td>
      <td>1007.2</td>
      <td>19.6</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[59.97, 'Clear', 'No precipitation throughout the week.']</td>
      <td>84</td>
    </tr>
    <tr>
      <th>81</th>
      <td>2021-08-20 06:45:07</td>
      <td>36.0</td>
      <td>96.8</td>
      <td>39.2</td>
      <td>1007.2</td>
      <td>20.0</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[59.91, 'Clear', 'No precipitation throughout the week.']</td>
      <td>84</td>
    </tr>
    <tr>
      <th>82</th>
      <td>2021-08-20 06:50:06</td>
      <td>36.0</td>
      <td>96.8</td>
      <td>36.8</td>
      <td>1007.3</td>
      <td>18.9</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[59.98, 'Clear', 'No precipitation throughout the week.']</td>
      <td>84</td>
    </tr>
    <tr>
      <th>83</th>
      <td>2021-08-20 06:55:06</td>
      <td>35.9</td>
      <td>96.6</td>
      <td>38.2</td>
      <td>1007.4</td>
      <td>19.5</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[60.08, 'Clear', 'No precipitation throughout the week.']</td>
      <td>84</td>
    </tr>
    <tr>
      <th>84</th>
      <td>2021-08-20 07:00:08</td>
      <td>35.8</td>
      <td>96.4</td>
      <td>38.1</td>
      <td>1007.4</td>
      <td>19.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.21, 'Clear', 'No precipitation throughout the week.']</td>
      <td>75</td>
    </tr>
    <tr>
      <th>85</th>
      <td>2021-08-20 07:05:07</td>
      <td>35.7</td>
      <td>96.3</td>
      <td>38.1</td>
      <td>1007.5</td>
      <td>19.2</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.37, 'Clear', 'No precipitation throughout the week.']</td>
      <td>75</td>
    </tr>
    <tr>
      <th>86</th>
      <td>2021-08-20 07:10:07</td>
      <td>35.7</td>
      <td>96.3</td>
      <td>37.7</td>
      <td>1007.5</td>
      <td>19.1</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[60.56, 'Clear', 'No precipitation throughout the week.']</td>
      <td>75</td>
    </tr>
    <tr>
      <th>87</th>
      <td>2021-08-20 07:15:07</td>
      <td>35.8</td>
      <td>96.4</td>
      <td>38.4</td>
      <td>1007.6</td>
      <td>19.4</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[60.77, 'Clear', 'No precipitation throughout the week.']</td>
      <td>75</td>
    </tr>
    <tr>
      <th>88</th>
      <td>2021-08-20 07:20:06</td>
      <td>35.7</td>
      <td>96.3</td>
      <td>38.4</td>
      <td>1007.6</td>
      <td>19.4</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[61.01, 'Clear', 'No precipitation throughout the week.']</td>
      <td>75</td>
    </tr>
    <tr>
      <th>89</th>
      <td>2021-08-20 07:25:07</td>
      <td>35.6</td>
      <td>96.1</td>
      <td>37.9</td>
      <td>1007.7</td>
      <td>19.1</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[61.26, 'Clear', 'No precipitation throughout the week.']</td>
      <td>75</td>
    </tr>
    <tr>
      <th>90</th>
      <td>2021-08-20 07:30:06</td>
      <td>35.8</td>
      <td>96.4</td>
      <td>38.0</td>
      <td>1007.7</td>
      <td>19.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[61.53, 'Clear', 'No precipitation throughout the week.']</td>
      <td>75</td>
    </tr>
    <tr>
      <th>91</th>
      <td>2021-08-20 07:35:06</td>
      <td>35.8</td>
      <td>96.4</td>
      <td>38.1</td>
      <td>1007.6</td>
      <td>19.3</td>
      <td>0.03</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[61.81, 'Clear', 'No precipitation throughout the week.']</td>
      <td>75</td>
    </tr>
    <tr>
      <th>92</th>
      <td>2021-08-20 07:40:07</td>
      <td>35.7</td>
      <td>96.3</td>
      <td>37.9</td>
      <td>1007.6</td>
      <td>19.1</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[61.85, 'Clear', 'No precipitation throughout the week.']</td>
      <td>75</td>
    </tr>
    <tr>
      <th>93</th>
      <td>2021-08-20 07:45:06</td>
      <td>35.8</td>
      <td>96.4</td>
      <td>39.1</td>
      <td>1007.6</td>
      <td>19.7</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[62.17, 'Clear', 'No precipitation throughout the week.']</td>
      <td>75</td>
    </tr>
    <tr>
      <th>94</th>
      <td>2021-08-20 07:50:06</td>
      <td>35.7</td>
      <td>96.3</td>
      <td>40.7</td>
      <td>1007.6</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[62.49, 'Clear', 'No precipitation throughout the week.']</td>
      <td>75</td>
    </tr>
    <tr>
      <th>95</th>
      <td>2021-08-20 07:55:07</td>
      <td>35.7</td>
      <td>96.3</td>
      <td>41.0</td>
      <td>1007.5</td>
      <td>20.4</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[62.82, 'Clear', 'No precipitation throughout the week.']</td>
      <td>72</td>
    </tr>
    <tr>
      <th>96</th>
      <td>2021-08-20 08:00:08</td>
      <td>35.9</td>
      <td>96.6</td>
      <td>40.8</td>
      <td>1007.5</td>
      <td>20.5</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[63.2, 'Clear', 'No precipitation throughout the week.']</td>
      <td>72</td>
    </tr>
    <tr>
      <th>97</th>
      <td>2021-08-20 08:05:06</td>
      <td>35.7</td>
      <td>96.3</td>
      <td>40.8</td>
      <td>1007.5</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.01</td>
      <td>0.99</td>
      <td>[63.32, 'Clear', 'No precipitation throughout the week.']</td>
      <td>72</td>
    </tr>
    <tr>
      <th>98</th>
      <td>2021-08-20 08:10:07</td>
      <td>35.6</td>
      <td>96.1</td>
      <td>40.5</td>
      <td>1007.6</td>
      <td>20.1</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[63.68, 'Clear', 'No precipitation throughout the week.']</td>
      <td>72</td>
    </tr>
    <tr>
      <th>99</th>
      <td>2021-08-20 08:15:07</td>
      <td>35.7</td>
      <td>96.3</td>
      <td>40.6</td>
      <td>1007.5</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[64.05, 'Clear', 'No precipitation throughout the week.']</td>
      <td>72</td>
    </tr>
    <tr>
      <th>100</th>
      <td>2021-08-20 08:20:07</td>
      <td>35.7</td>
      <td>96.3</td>
      <td>40.4</td>
      <td>1007.6</td>
      <td>20.2</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[64.43, 'Clear', 'No precipitation throughout the week.']</td>
      <td>72</td>
    </tr>
    <tr>
      <th>101</th>
      <td>2021-08-20 08:25:07</td>
      <td>35.8</td>
      <td>96.4</td>
      <td>40.8</td>
      <td>1007.6</td>
      <td>20.4</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[64.83, 'Clear', 'No precipitation throughout the week.']</td>
      <td>72</td>
    </tr>
    <tr>
      <th>102</th>
      <td>2021-08-20 08:30:07</td>
      <td>35.8</td>
      <td>96.4</td>
      <td>41.7</td>
      <td>1007.6</td>
      <td>20.8</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[65.23, 'Clear', 'No precipitation throughout the week.']</td>
      <td>72</td>
    </tr>
    <tr>
      <th>103</th>
      <td>2021-08-20 08:35:09</td>
      <td>35.7</td>
      <td>96.3</td>
      <td>42.3</td>
      <td>1007.6</td>
      <td>20.9</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.98</td>
      <td>[65.64, 'Clear', 'No precipitation throughout the week.']</td>
      <td>72</td>
    </tr>
    <tr>
      <th>104</th>
      <td>2021-08-20 08:40:06</td>
      <td>35.6</td>
      <td>96.1</td>
      <td>40.4</td>
      <td>1007.6</td>
      <td>20.1</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[64.66, 'Clear', 'No precipitation throughout the week.']</td>
      <td>72</td>
    </tr>
    <tr>
      <th>105</th>
      <td>2021-08-20 08:45:06</td>
      <td>35.8</td>
      <td>96.4</td>
      <td>40.2</td>
      <td>1007.6</td>
      <td>20.2</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[65.1, 'Clear', 'No precipitation throughout the week.']</td>
      <td>72</td>
    </tr>
    <tr>
      <th>106</th>
      <td>2021-08-20 08:50:07</td>
      <td>35.7</td>
      <td>96.3</td>
      <td>40.6</td>
      <td>1007.6</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>0.06</td>
      <td>0.99</td>
      <td>[65.55, 'Clear', 'No precipitation throughout the week.']</td>
      <td>82</td>
    </tr>
    <tr>
      <th>107</th>
      <td>2021-08-20 08:55:07</td>
      <td>35.7</td>
      <td>96.3</td>
      <td>40.5</td>
      <td>1007.6</td>
      <td>20.2</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[66, 'Clear', 'No precipitation throughout the week.']</td>
      <td>82</td>
    </tr>
    <tr>
      <th>108</th>
      <td>2021-08-20 09:00:07</td>
      <td>35.9</td>
      <td>96.6</td>
      <td>40.9</td>
      <td>1007.6</td>
      <td>20.6</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[66.43, 'Clear', 'No precipitation throughout the week.']</td>
      <td>82</td>
    </tr>
    <tr>
      <th>109</th>
      <td>2021-08-20 09:05:06</td>
      <td>35.9</td>
      <td>96.6</td>
      <td>40.3</td>
      <td>1007.5</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[66.88, 'Clear', 'No precipitation throughout the week.']</td>
      <td>82</td>
    </tr>
    <tr>
      <th>110</th>
      <td>2021-08-20 09:10:07</td>
      <td>35.8</td>
      <td>96.4</td>
      <td>40.4</td>
      <td>1007.5</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[67.34, 'Clear', 'No precipitation throughout the week.']</td>
      <td>82</td>
    </tr>
    <tr>
      <th>111</th>
      <td>2021-08-20 09:15:07</td>
      <td>35.8</td>
      <td>96.4</td>
      <td>40.4</td>
      <td>1007.5</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[67.81, 'Clear', 'No precipitation throughout the week.']</td>
      <td>82</td>
    </tr>
    <tr>
      <th>112</th>
      <td>2021-08-20 09:20:07</td>
      <td>35.9</td>
      <td>96.6</td>
      <td>40.5</td>
      <td>1007.5</td>
      <td>20.4</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[68.29, 'Clear', 'No precipitation throughout the week.']</td>
      <td>82</td>
    </tr>
    <tr>
      <th>113</th>
      <td>2021-08-20 09:25:06</td>
      <td>35.8</td>
      <td>96.4</td>
      <td>40.6</td>
      <td>1007.5</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[68.61, 'Clear', 'No precipitation throughout the week.']</td>
      <td>82</td>
    </tr>
    <tr>
      <th>114</th>
      <td>2021-08-20 09:30:07</td>
      <td>35.9</td>
      <td>96.6</td>
      <td>40.3</td>
      <td>1007.5</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[69.15, 'Clear', 'No precipitation throughout the week.']</td>
      <td>82</td>
    </tr>
    <tr>
      <th>115</th>
      <td>2021-08-20 09:35:06</td>
      <td>35.8</td>
      <td>96.4</td>
      <td>40.5</td>
      <td>1007.6</td>
      <td>20.3</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>0.99</td>
      <td>[69.62, 'Clear', 'No precipitation throughout the week.']</td>
      <td>82</td>
    </tr>
  </tbody>
</table>