<!doctype html>

<html>
    <head>
        <title>Raspberry Pi Weather Station</title>
    </head>

   <body>
        <h1>Raspberry Pi Weather Station</h1>

        <h2>Temperature</h2>
        <p><strong>Celcius:</strong> {{ celcius }}</p>
        <p><strong>Fahrenheit:</strong> {{ fahrenheit }}</p>
		<h2>Humidity/Pressure/Dewpoint</h2>
		<p><strong>Humidity:</strong> {{ humidity }}</p>
		<p><strong>Pressure:</strong> {{ pressure }}</p>
		<p><strong>Dewpoint:</strong> {{ dewpoint }}</p>
		<h2>Orientation</h2>
		<p><strong>X:</strong> {{ x }}</p>
		<p><strong>Y:</strong> {{ y }}</p>
		<p><strong>Z:</strong> {{ z }}</p>
		
    </body>
</html>
