
.bg-gray {
    background-color: gray;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    margin: 10px;
}

.container a {
    font-weight: bold;
}

.center {
    text-align: center;
}